<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jason.testjson.dao.PassengerMapper">
    <resultMap type="Passenger" id="PassengerRecord">
        <id property="id" column="id" />
        <result property="paxCode" column="pax_code" />
        <result property="paxName" column="pax_name" />
        <result property="tag1" column="tag1" typeHandler="MapStringTypeHandler"/>
        <result property="tag2" column="tag2" typeHandler="MapJsonTypeHandler"/>
        <result property="tag3" column="tag3" typeHandler="MapStringTypeHandler"/>
        <result property="tag4" column="tag4" typeHandler="MapJsonTypeHandler"/>
        <result property="address" column="address" typeHandler="AddressTypeHandler"/>
        <result property="consignee" column="consignee" typeHandler="ConsigneeTypeHandler"/>
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <select id="findCount" resultType="int">
        select count(*) from passenger
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO passenger
            (pax_code, pax_name, tag1, tag2, tag3, tag4, address, consignee)
        VALUES (
            '${paxCode}',
            '${paxName}',
            #{tag1, typeHandler=MapStringTypeHandler},
            #{tag2, typeHandler=MapJsonTypeHandler},
            #{tag3, typeHandler=MapStringTypeHandler},
            #{tag4, typeHandler=MapJsonTypeHandler},
            #{address, typeHandler=AddressTypeHandler},
            #{consignee, typeHandler=ConsigneeTypeHandler}
        )
    </insert>
    
    <select id="findById" parameterType="long" resultMap="PassengerRecord">
        SELECT *
        FROM passenger
        WHERE id = #{id}
    </select>

    <select id="findFirstByCode" parameterType="string" resultMap="PassengerRecord">
        SELECT *
        FROM passenger
        WHERE pax_code = #{code}
        LIMIT 1
    </select>

    <select id="findAll" resultMap="PassengerRecord">
        SELECT *
        FROM passenger
    </select>

</mapper>
